.nav-bar{
	background-color: green;
}


.nav-bar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.nav-bar li{
	float: left;
}

.nav-bar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 18px 12px;
  text-decoration: none;
  cursor: pointer;
}